name: CI

on:
    pull_request:
      branches: 
        - '**'

jobs:

    micro_ros_arduino:
        runs-on: ubuntu-20.04
        container: ubuntu:20.04
    
        steps:
        - uses: actions/checkout@v2
          with:
            path: checkout/

        - name: Build
          run: |
            apt update
            apt install -y git curl lib32z1 wget libfontconfig libxft2 xz-utils rsync
            curl -fsSL https://raw.githubusercontent.com/arduino/arduino-cli/master/install.sh | sh 
            mkdir -p /github/home/Arduino/libraries/micro_ros_arduino/
            cp -R checkout/* /github/home/Arduino/libraries/micro_ros_arduino/
            echo '''board_manager:
              additional_urls:
                - https://raw.githubusercontent.com/ROBOTIS-GIT/OpenCR/master/arduino/opencr_release/package_opencr_index.json''' > arduino-cli.yaml
            export PATH=$PATH:/github/workspace/bin:/__w/micro_ros_arduino/micro_ros_arduino/bin
            arduino-cli core install OpenCR:OpenCR -v
            arduino-cli core install arduino:samd -v
            arduino-cli core install arduino:sam -v
            arduino-cli core install arduino:mbed -v
            # 
            # INSTALLING TEENSY SUPPORT
            wget https://downloads.arduino.cc/arduino-1.8.13-linux64.tar.xz
            tar -xf arduino-1.8.13-linux64.tar.xz
            wget https://www.pjrc.com/teensy/td_153/TeensyduinoInstall.linux64
            chmod 755 TeensyduinoInstall.linux64
            ./TeensyduinoInstall.linux64 --dir=arduino-1.8.13
            # Faking Teensy loader
            TRUE_PATH=$(which true)
            rm -rf arduino-1.8.13/hardware/tools/teensy_post_compile
            cp $TRUE_PATH arduino-1.8.13/hardware/tools/teensy_post_compile
            cp -R arduino-1.8.13/hardware/teensy/ /github/home/.arduino15/packages/
            rsync -a  arduino-1.8.13/hardware/tools/ /github/home/.arduino15/packages/tools/
            rm -rf arduino-1.8.13 arduino-1.8.13-linux64.tar.xz
            # 
            # PATCHING TEENSY AND SAM
            cat checkout/extras/patching_boards/platform_teensy.txt > /github/home/.arduino15/packages/teensy/avr/platform.txt
            # remove when https://github.com/arduino/ArduinoCore-sam/pull/115 merged
            cat checkout/extras/patching_boards/platform_arduinocore_sam.txt > /github/home/.arduino15/packages/arduino/hardware/sam/1.6.12/platform.txt
            #
            # BUILDING EXAPLE FOR EACH PLATFORM
            arduino-cli core update-index
            arduino-cli lib update-index
            # Build all demos
            arduino-cli compile --fqbn OpenCR:OpenCR:OpenCR /github/home/Arduino/libraries/micro_ros_arduino/examples/micro-ros_publisher -v
            arduino-cli compile --fqbn OpenCR:OpenCR:OpenCR /github/home/Arduino/libraries/micro_ros_arduino/examples/micro-ros_addtwoints_service -v
            arduino-cli compile --fqbn OpenCR:OpenCR:OpenCR /github/home/Arduino/libraries/micro_ros_arduino/examples/micro-ros_reconnection_example -v
            arduino-cli compile --fqbn OpenCR:OpenCR:OpenCR /github/home/Arduino/libraries/micro_ros_arduino/examples/micro-ros_subscriber -v
            arduino-cli compile --fqbn OpenCR:OpenCR:OpenCR /github/home/Arduino/libraries/micro_ros_arduino/examples/micro-ros_subscriber_twist -v
            arduino-cli compile --fqbn OpenCR:OpenCR:OpenCR /github/home/Arduino/libraries/micro_ros_arduino/examples/micro-ros_tf_publisher -v
            arduino-cli compile --fqbn teensy:avr:teensy41 /github/home/Arduino/libraries/micro_ros_arduino/examples/micro-ros_time_sync -v
            # Build one demo for each platform
            arduino-cli compile --fqbn teensy:avr:teensy31 /github/home/Arduino/libraries/micro_ros_arduino/examples/micro-ros_publisher -v
            arduino-cli compile --fqbn teensy:avr:teensy35 /github/home/Arduino/libraries/micro_ros_arduino/examples/micro-ros_publisher -v
            arduino-cli compile --fqbn teensy:avr:teensy41 /github/home/Arduino/libraries/micro_ros_arduino/examples/micro-ros_publisher -v
            arduino-cli compile --fqbn arduino:samd:arduino_zero_native /github/home/Arduino/libraries/micro_ros_arduino/examples/micro-ros_publisher -v
            arduino-cli compile --fqbn arduino:sam:arduino_due_x /github/home/Arduino/libraries/micro_ros_arduino/examples/micro-ros_publisher -v
            # arduino-cli compile --fqbn arduino:mbed:envie_m4 /github/home/Arduino/libraries/micro_ros_arduino/examples/micro-ros_publisher -v
            arduino-cli compile --fqbn arduino:mbed:envie_m7 /github/home/Arduino/libraries/micro_ros_arduino/examples/micro-ros_publisher -v
            arduino-cli compile --fqbn arduino:mbed:envie_m7 /github/home/Arduino/libraries/micro_ros_arduino/examples/micro-ros_publisher_wifi -v
